<!DOCTYPE html>
<html>
  <head>
    <title>Página de créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cr&eacute;ditos</h1>
    <img src="images/usuario.png" />
    <p>Copyright Iv&aacute;n P&eacute;rez Fuentes 2015</p>
  </body>
</html>
