<<<<<<< HEAD
<p>
    <%= respuesta %>
    <a href="/quizes/<%= quiz.id %>">Volver</a>
</p>

=======
<%= respuesta %> <br/>
<a href="/quizes/<%= quiz.id %>">Volver</a>
<!--<a href="/quizes/question">Intentelo otra vez</a>-->
>>>>>>> 878c6b63ae200718882543a8b21a537e9bed68c7

