<<<<<<< HEAD
<form method="GET" action="/quizes/<%= quiz.id %>/answer">
    Pregunta: <%= quiz.pregunta %> <br/>
    <input type="text" name="respuesta" value="Respuesta"/>
    <input type="submit" value="Enviar"/>
</form>
=======

    <form method="get" action="/quizes/<%= quiz.id %>/answer">
        Pregunta: <%= quiz.pregunta %> <br/>
        <input type="text" name="respuesta" value="Respuesta"/>
        <input type="submit" value="Enviar"/>
    </form>
>>>>>>> 878c6b63ae200718882543a8b21a537e9bed68c7
